body {
    margin: 0;
    color: #4a65a5;
}

.page-header {
    background-color: gray;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    text-size: 2.5rem;
    color: white;
}

.component-wrap{
height: 100%;
}
