.switch-checkbox-component {
    width: 100%;
    height: 100%;
}

.switch-checkbox-component-title{
    font-size: x-large;
    text-align: left;
    background: #4b4b4b;
    color: #ede8e2;
    padding: 0.5rem;
    border-radius: 7px;
}
