<sly data-sly-use.data="com.exadel.aem.toolkit.samples.models.WarriorComponent"></sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.css @ categories='etoolbox-authoring-kit.samples.components'}"></sly>

<div class="warrior-component-wrap ${data.colorTheme}">
    <div class="warrior-header">
        <div class="warrior-header-name">
            Primitive Components Bar
        </div>
    </div>
    <div class="warrior-components-wrap">
        <div><sly data-sly-resource="${'alertComponent'}"/></div>
        <div><sly data-sly-resource="${'buttonComponent'}"/></div>

    </div>
</div>
