<sly data-sly-use.data="com.exadel.aem.toolkit.samples.models.ButtonComponent"></sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.all @ categories='etoolbox-authoring-kit.samples.components'}"></sly>


<div class="button-component-wrap">
    <div class="button-component-title">
        <span> Button <br>Component </span>
    </div>
    <div class="button-component-body">
        <p>Usage of @Button annotation allows you to add different functionality to buttons in dialog window
            and also to configure buttons types and size</p>
    </div>
</div>

