.warrior-component {
    min-width: 100%;
}

.warrior-component-wrap, .dark-theme {
    padding-bottom: 2rem;
}

.warrior-component-wrap .newpar {
    min-width: 200px;
}

.warrior-component-wrap {
    background: white;
    color: black;
}

.dark-theme {
    background: #373c6e;
    color: white;
}

.warrior-components-wrap {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: start;
    padding: 1rem;
    background: whitesmoke;
    overflow-x: hidden;
    overflow-y: hidden;

}

.warrior-components-wrap {
    border: 1px solid black;
}

.dark-theme .warrior-components-wrap {
    border: 1px solid white;
}

.warrior-component-title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

.warrior-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.warrior-header-name {
    font-size: 2rem;
    margin-right: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.warrior-header-icon {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid darkgray;
}
